<product-compare class="btn-product js-btn-compare" title="Add to Compare" data-handle="{{handle}}">
    <span>
      <i class="leofal leofa-sync"></i>
      <span class="span-compnare">Compare</span>
    </span>
    <span class="name-btn-product">Add to Compare</span>
  </product-compare>