<div class="footer__copyright">
    <small class="copyright__content shop">Copyright &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
    <small class="copyright__content">{{ powered_by_link }}</small>
</div>