<div class="header-compare d-md-block">
    <a class="btn-compare" href="/pages/compare">
        {%- render 'icon-compare' -%}
        <span class="d-none">icon-heart</span>
    <div class="cart-count-bubble">
      <p class="num-compared">0</p>
    </div>
    </a>
  
</div>
