<div class="row no-gutters">
    <div class="col-12">
      <h4 id="html-divided" class="html-title pt-4">#Divided, the gaps between the element</h4>
    </div>
    <div class="col-12 col-md-7">
      <div class="input-group mt-4 mb-4">
        <div class="input-group-prepend">
          <label class="font-weight-bold input-group-text">Select divide</label>
        </div>
        <select class="custom-select js-html-select box-shadow-none" data-id="Divided">
          <optgroup class="text-primary" label="Easy">
            <option selected value="hr-primary">Primary line</option>
            <option value="hr-secondary">Secondary line</option>
            <option value="hr-success">Success line</option>
            <option value="hr-danger">Danger line</option>
            <option value="hr-warning">Warning line</option>
            <option value="hr-info">Info line</option>
            <option value="hr-light">Light line</option>
            <option value="hr-dark">Dark line</option>
            <option value="hr-normal">Normal line</option>
            <option value="hr-blank">Blank</option>
          </optgroup>
        </select>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-md-7 col-left">
      <textarea id="htmlCode-Divided" class="html-code"><span class="border border-primary"></span></textarea>
    </div>
    <div class="col-md-2 col-mid">
      <button class="btn btn-outline-secondary btn-html-view" data-id="Divided">Preview{%- render 'icon-arrow-right' -%}</button>
      <button class="btn btn-secondary btn-html-copy" data-id="Divided">Copy {%- render 'icon-copy' -%}</button>
    </div>
    <div class="col-md-3 col-right">
      <div id="htmlView-Divided" class="html-view shadow html-view--widow">
        <span class="border border-primary"></span>
      </div>
    </div>
  
    <div id="htmlContent-Divided" class="js-html-content d-none" data-id="Divided">
      <div class="hr-normal"><span class="border"></span></div>
      <div class="hr-primary"><span class="border border-primary"></span></div>
      <div class="hr-secondary"><span class="border border-secondary"></span></div>
      <div class="hr-success"><span class="border border-success"></span></div>
      <div class="hr-danger"><span class="border border-danger"></span></div>
      <div class="hr-warning"><span class="border border-warning"></span></div>
      <div class="hr-info"><span class="border border-info"></span></div>
      <div class="hr-light"><span class="border border-light"></span></div>
      <div class="hr-dark"><span class="border border-dark"></span></div>
      <div class="hr-blank"><span class="border border-0"></span></div>
    </div>
  </div>
  <hr />