<style>
    .divst-icon-builder{
        flex-wrap: wrap;
    }

    .divst-icon-builder div{
        padding: 15px;
    }

    .divst-icon-builder div button{
        border: none;
        width: 100%;
        padding: 15px 0;
    }
</style>
<h4 id="html-icon" class="html-title pt-4">#Icon <small>(Cdivck to copy code)</small></h4>
<div class="row divst-icon-builder d-flex ">
  <div class="col-4 col-sm-2" data-name='icon-3d-model'><button type="button"><span>icon-3d-model</span>{%- render 'icon-3d-model' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-account'><button type="button"><span>icon-account</span>{%- render 'icon-account' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-amex'><button type="button"><span>icon-amex</span>{%- render 'icon-amex' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-app-alt'><button type="button"><span>icon-app-alt</span>{%- render 'icon-app-alt' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-arrow'><button type="button"><span>icon-arrow</span>{%- render 'icon-arrow' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-arrow-down'><button type="button"><span>icon-arrow-down</span>{%- render 'icon-arrow-down' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-arrow-right'><button type="button"><span>icon-arrow-right</span>{%- render 'icon-arrow-right' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-caret'><button type="button"><span>icon-caret</span>{%- render 'icon-caret' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-check-square'><button type="button"><span>icon-check-square</span>{%- render 'icon-check-square' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-checkmark'><button type="button"><span>icon-checkmark</span>{%- render 'icon-checkmark' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-close'><button type="button"><span>icon-close</span>{%- render 'icon-close' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-close-small'><button type="button"><span>icon-close-small</span>{%- render 'icon-close-small' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-copy'><button type="button"><span>icon-copy</span>{%- render 'icon-copy' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-discount'><button type="button"><span>icon-discount</span>{%- render 'icon-discount' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-download'><button type="button"><span>icon-download</span>{%- render 'icon-download' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-envelope'><button type="button"><span>icon-envelope</span>{%- render 'icon-envelope' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-error'><button type="button"><span>icon-error</span>{%- render 'icon-error' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-facebook'><button type="button"><span>icon-facebook</span>{%- render 'icon-facebook' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-filter'><button type="button"><span>icon-filter</span>{%- render 'icon-filter' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-free-shiping'><button type="button"><span>icon-free-shiping</span>{%- render 'icon-free-shiping' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-gear-alt'><button type="button"><span>icon-gear-alt</span>{%- render 'icon-gear-alt' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-globe-europe'><button type="button"><span>icon-globe-europe</span>{%- render 'icon-globe-europe' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-hamburger'><button type="button"><span>icon-hamburger</span>{%- render 'icon-hamburger' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-heart'><button type="button"><span>icon-heart</span>{%- render 'icon-heart' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-home'><button type="button"><span>icon-home</span>{%- render 'icon-home' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-idea'><button type="button"><span>icon-idea</span>{%- render 'icon-idea' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-instagram'><button type="button"><span>icon-instagram</span>{%- render 'icon-instagram' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-mail'><button type="button"><span>icon-mail</span>{%- render 'icon-mail' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-mastercard'><button type="button"><span>icon-mastercard</span>{%- render 'icon-mastercard' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-menu-mobile'><button type="button"><span>icon-menu-mobile</span>{%- render 'icon-menu-mobile' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-minus'><button type="button"><span>icon-minus</span>{%- render 'icon-minus' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-mobile-phone'><button type="button"><span>icon-mobile-phone</span>{%- render 'icon-mobile-phone' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-more'><button type="button"><span>icon-more</span>{%- render 'icon-more' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-padlock'><button type="button"><span>icon-padlock</span>{%- render 'icon-padlock' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-pause'><button type="button"><span>icon-pause</span>{%- render 'icon-pause' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-paypal'><button type="button"><span>icon-paypal</span>{%- render 'icon-paypal' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-picture-alt'><button type="button"><span>icon-picture-alt</span>{%- render 'icon-picture-alt' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-pinterest'><button type="button"><span>icon-pinterest</span>{%- render 'icon-pinterest' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-play'><button type="button"><span>icon-play</span>{%- render 'icon-play' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-plus'><button type="button"><span>icon-plus</span>{%- render 'icon-plus' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-remove'><button type="button"><span>icon-remove</span>{%- render 'icon-remove' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-search'><button type="button"><span>icon-search</span>{%- render 'icon-search' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-share'><button type="button"><span>icon-share</span>{%- render 'icon-share' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-size-guide'><button type="button"><span>icon-size-guide</span>{%- render 'icon-size-guide' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-skype'><button type="button"><span>icon-skype</span>{%- render 'icon-skype' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-snapchat'><button type="button"><span>icon-snapchat</span>{%- render 'icon-snapchat' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-square'><button type="button"><span>icon-square</span>{%- render 'icon-square' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-star-alt'><button type="button"><span>icon-star-alt</span>{%- render 'icon-star-alt' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-success'><button type="button"><span>icon-success</span>{%- render 'icon-success' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-tick'><button type="button"><span>icon-tick</span>{%- render 'icon-tick' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-tiktok'><button type="button"><span>icon-tiktok</span>{%- render 'icon-tiktok' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-tumblr'><button type="button"><span>icon-tumblr</span>{%- render 'icon-tumblr' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-twitter'><button type="button"><span>icon-twitter</span>{%- render 'icon-twitter' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-typography'><button type="button"><span>icon-typography</span>{%- render 'icon-typography' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-unavailable'><button type="button"><span>icon-unavailable</span>{%- render 'icon-unavailable' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-user'><button type="button"><span>icon-user</span>{%- render 'icon-user' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-vimeo'><button type="button"><span>icon-vimeo</span>{%- render 'icon-vimeo' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-visa'><button type="button"><span>icon-visa</span>{%- render 'icon-visa' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-youtube'><button type="button"><span>icon-youtube</span>{%- render 'icon-youtube' -%}</button></div>
  <div class="col-4 col-sm-2" data-name='icon-zoom'><button type="button"><span>icon-zoom</span>{%- render 'icon-zoom' -%}</button></div>
  <input type="hidden" id="html-icon-content" value="">
  <div class="growls-default">
      <h4>HTML builder</h4>
      <p>Successfully copied HTML code</p>
      <p>{%- render 'icon-close' -%}</p>
  </div>
</div>
<hr />