<div class="d-block d-lg-none icon-menu-mobile">
    <button type="button" class="site-header__icon-menu">
        {%- render 'icon-menu-mobile' -%}
        <span class="hide-text" style="position: absolute; left: -9999px;">icon-menu-mobile</span>
    </button>
</div>