{% if settings.new_label_enable %}

  {%- assign new = false -%}
  {%- assign new_count = settings.new_label_day | plus: 0 -%}
  {%- assign date_published_year = product.published_at | date:'%Y' -%}
  {%- assign date_published_month = product.published_at | date:'%m' -%}
  {%- assign date_published_day = product.published_at | date:'%d' -%}

  {%- assign date_now_year = 'now' | date:'%Y' -%}
  {%- assign date_now_month = 'now' | date:'%m' -%}
  {%- assign date_now_day = 'now' | date:'%d' -%}

  {%- assign day_year = date_now_year | minus:date_published_year | times: 365 -%}
  {%- assign day_month = date_now_month | minus:date_published_month | times: 30 -%}
  {%- assign day_day = date_now_day | minus:date_published_day -%}

  {%- assign date_difference = day_year | plus: day_month | plus: day_day -%}
  {%- if date_difference <= new_count -%}
  {%- assign new = true -%}
  {%- endif -%}

  {% if new %}
  <div class="product-new">
    <span class="product-label product-label-new" aria-hidden="true" >
      {{ settings.new_label_text | default:'new' }}
    </span>
  </div>
  {% endif %}

{% endif %}