{% if product_card_product.metafields.products.countdown %}
<div class="js-countdown js-countdown--{{ settings.style_coundown }}" data-time="{{product_card_product.metafields.products.countdown}} "></div>
{% endif %}