<product-quickview class="btn-product js-btn-quickview" title="Quick view" data-toggle="modal" data-target="#jsQuickview" data-handle="{{handle}}">
  <span>
    <i class="leofal leofa-search"></i>
  </span>
  <span class="name-btn-product">Quick view</span>
</product-quickview>