<!-- quickview.liquid -->
<div class="modal fade" id="jsQuickview" role="dialog" aria-hidden="true" data-type="{{ settings.select_product_option_display }}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="btn-close"></div>
      </div>
      <div class="modal-body quick-view-body">
        
      </div>
    </div>
  </div>
</div>