<product-wishlist class="btn-product js-btn-wishlist" title="Add to Wishlist" data-handle="{{ handle }}">
  <span>
    <i class="leofal leofa-heart"></i>
    <span class="span-wishlist">Wishlist</span>
  </span>
  <span class="name-btn-product">Add to Wishlist</span>
</product-wishlist>
