<div class="header-wishlist d-md-block">
    <a class="btn-wishlist" href="/pages/{{ settings.page_wishlist }}">
        {%- render 'icon-heart' -%}
        <span class="d-none">icon-heart</span>
    <div class="cart-count-bubble">
      <p class="num-wishlisted">0</p>
    </div>
    </a>
  
</div> 
 