.card {
  display: block;
  overflow: hidden;
  text-decoration: none;
}

.card + .card-information {
  margin-top: 1.3rem;
}

@media screen and (min-width: 750px) {
  .card + .card-information {
    margin-top: 1.7rem;
  }
}

.card.card--soft {
  background-color: rgba(var(--color-foreground), 0.04);
  color: rgb(var(--color-foreground));
}

.card .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
  transition: transform var(--duration-short) ease;
  overflow: hidden;
}

.card .h1 .icon-arrow,
.card .h2 .icon-arrow {
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.card--media {
  display: block;
  text-decoration: none;
}

.card--text-only {
  display: flex;
  justify-content: center;
}

.card--text-only::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.card--product {
  position: relative;
  border: none;
  box-shadow: none;
}

.card--product .js-countdown.js-countdown--countdown--1 {
  transform: translateX(-50%);
  z-index: 9999;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.card--stretch {
  height: 100%;
}

.card--outline:not(.card--soft) {
  border: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.card--light-border {
  border: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.card--light-border:hover {
  border: 0.1rem solid rgba(var(--color-foreground), 0.3);
  box-shadow: none;
}

.card__text-spacing {
  padding: 3rem;
}

.card-colored.color-background-1 {
  background-color: rgba(var(--color-foreground), 0.04);
}

.card--media .card__text-spacing {
  padding: 2rem;
}

@media screen and (min-width: 750px) {
  .card--media .card__text-spacing {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.card-information > * + * {
  margin-top: 0.5rem;
}

.card--text-only .card__inner {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  width: 100%;
}

.card__content {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.card__content > * {
  margin: 0;
}

.card--text-only .card__content {
  grid-row: 2;
  justify-self: flex-start;
  margin-bottom: 6rem;
  margin-top: 5rem;
}

.card--text-only .card__badge {
  align-self: flex-end;
  grid-row: 3;
}

.card--search .card__badge > *,
.card--text-only .card__badge > * {
  margin: 0 1.2rem 1.2rem;
}

.card--search .card__badge,
.card--text-only .card__badge {
  position: initial;
}

.card--text-only .card__content + .card__badge {
  margin-top: -5rem;
}

.media + .card__content {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .card--text-only .card__content {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }

  .card--text-only .card__content + .card__badge {
    margin-top: -7rem;
  }
}

.card__text-spacing > * {
  margin: 0;
}

.card__text-spacing > *:not(.overlay-card) + * {
  margin-top: 1.5rem;
}

.card__text {
  margin: 0;
  word-break: break-word;
}

.card-information__text {
  display: block;
  padding-right: 1.2rem;
}

.card-information__wrapper {
  width: 100%;
}

.card-information__wrapper > * {
  line-height: 1.4;
  color: rgb(var(--color-foreground));
}

.card-information__wrapper > .price {
  color: rgb(var(--color-foreground));
}

.card-information__wrapper > .rating {
  margin-top: 0.4rem;
}

.card-information__wrapper > *:not(.visually-hidden:first-child) + *:not(.rating) {
  margin-top: 1rem;
}

.card-information__wrapper .caption {
  letter-spacing: 0.07rem;
}

.card-wrapper {
  color: inherit;
  display: block;
  position: relative;
  text-decoration: none;
}

.card-wrapper:focus-within .card {
  box-shadow: none;
}

.card__media-spacer {
  padding: 2rem 2rem 0;
}

@media screen and (min-width: 750px) {
  .card__media-spacer {
    padding: 3rem 3rem 0;
  }
}

.card__media-full-spacer {
  padding: 2rem;
}

.card-article-info {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.card__badge {
  top: 1rem;
  display: flex;
  flex-wrap: wrap;
  left: 1rem;
  position: absolute;
}

.card__badge .badge.badge--bottom-left {
  background-color: var(--color-background-sould-out-label);
  color: var(--color-text-sould-out-label);
  font-size: 10px;
  text-align: center;
  padding: 4px 4px;
  border-radius: 3px;
  font-weight: 600;
  margin: 0 5px 5px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  text-transform: uppercase;
  line-height: 15px;
  pointer-events: none;
  letter-spacing: 0;
}

.overlay-card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background: transparent;
  transition: background-color var(--duration-long) ease;
}

.card:hover .card-colored .overlay-card {
  background-color: rgba(var(--color-card-hover), 0.06);
}

@media screen and (min-width: 990px) {
  .card .media.media--hover-effect > img:only-child,
  .card-wrapper .media.media--hover-effect > img:only-child,
  .card--search img {
    transition: transform var(--duration-long) ease;
  }

  .card:hover .media.media--hover-effect > img:first-child:only-child,
  .card-wrapper:hover .media.media--hover-effect > img:first-child:only-child {
    transform: scale(1.03);
  }

  .card-wrapper:hover .media.media--hover-effect > img:first-child:not(:only-child) {
    opacity: 0;
  }

  .card-wrapper:hover .media.media--hover-effect > img + img {
    opacity: 1;
    transition: transform var(--duration-long) ease;
    transform: scale(1.03);
  }

  .card-wrapper:hover .card-information__text {
    text-underline-offset: 0.3rem;
  }

  .card-wrapper:hover .card--search img {
    transform: scale(1.05);
  }

  .card-wrapper:hover .card__text {
    text-underline-offset: 0.3rem;
  }

  .card-wrapper:hover .card--soft {
    background-color: rgba(var(--color-card-hover), 0.06);
    transition: background-color var(--duration-long) ease;
  }
}

/* icon-product */

.product-card__overlay {
  display: flex;
  justify-content: space-between;
}

.servicer-product {
  position: absolute;
  z-index: 99;
  top: unset;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.servicer-product .leofal {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  width: 1.6rem;
  height: 1.6rem;
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
}
.servicer-product .leofa-search:before {
  content: "\f002";
}
.servicer-product .leofa-heart:before {
  content: "\f004";
}
.servicer-product .leofa-sync:before {
  content: "\f021";
}
.servicer-product .leofa-shopping-basket:before {
  content: "\f291";
}
.servicer-product .btn-product {
  padding: 0;
  text-align: center;
  background: #fff;
  color: #333;
  border-radius: 0;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  letter-spacing: normal;
  transition: all 0.4s;
  position: relative;
  margin: 0 0.2rem;
}

.btn-product .name-btn-product {
  border-radius: 0.2rem;
  margin: 0 0 0.3125rem 0;
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25rem;
  background: #000;
  color: #fff;
  text-transform: capitalize;
  visibility: hidden;
  padding: 0.5rem 1rem;
  bottom: 100%;
  left: 50%;
  opacity: 0;
  transform: translateX(-1rem);
  transition: all 0.4s;
}

.text-btn-product {
  display: none;
}

.btn-product:hover {
  transform: translateY(-1rem);
  cursor: pointer;
}
.btn-product:hover .name-btn-product {
  transform: translateX(-50%);
  visibility: visible;
  opacity: 1;
}
.btn-product .name-btn-product:before {
  content: "";
  position: absolute;
  top: 100%;
  border: 0.5rem solid transparent;
  border-top-color: #000;
  left: 50%;
  margin-left: -0.3125rem;
}
.btn-search {
  display: none;
}
@media (min-width: 992px) {
  .btn-search {
    display: inline-block;
  }
  .servicer-product {
    top: 50%;
    left: 100%;
    bottom: unset;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
  }
  .card-wrapper:hover .servicer-product {
    left: 50%;
  }
  .card-wrapper:hover .product-card__overlay {
    visibility: visible;
    opacity: 1;
  }

  .product-card__overlay {
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
  }
}

.card-wrapper .button {
  padding: 0.9rem 1.1rem;
  box-shadow: none;
  background-color: #fff;
  color: #333;
  min-width: 4rem;
  min-height: 4rem;
  transition: all 0.4s;
  margin-left: 0.2rem;
}
.card-wrapper .button:hover {
  transform: translateY(-1rem);
  box-shadow: none;
  color: #fff;
  background: #000;
}

.card-wrapper .button .name-btn-product {
  border-radius: 0.2rem;
  margin: 0 0 0.3125rem 0;
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25rem;
  background: #000;
  color: #fff;
  text-transform: capitalize;
  visibility: hidden;
  padding: 0.5rem 1rem;
  bottom: 100%;
  left: 50%;
  opacity: 0;
  transform: translateX(-1rem);
  transition: all 0.4s;
}
.card-wrapper .button:hover .name-btn-product {
  transform: translateX(-50%);
  visibility: visible;
  opacity: 1;
}
.card-wrapper .button .name-btn-product:before {
  content: "";
  position: absolute;
  top: 100%;
  border: 0.5rem solid transparent;
  border-top-color: #000;
  left: 50%;
  margin-left: -0.3125rem;
}

.variants-item {
  display: flex;
  justify-content: center;
}
.variants-item .form__label,
.variants-item input {
  display: none;
}

.variants-item-size label {
  padding: 0 5px;
}

.card-wrapper .variants-product-item {
  position: absolute;
  font-size: 11px;
  bottom: 70px;
  left: 20px;
}
.card-wrapper .variants-product-item img {
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.card-wrapper:hover .variants-product-item {
  opacity: 1;
  display: block;
}

.card-wrapper .variants-product-item .variant {
  position: relative;
  margin-bottom: 10px;
  background: #fff;
  width: 14px;
  height: 14px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: #ccc 0px 0px 0px 1px;
}

.card-wrapper .variants-product-item .variant:last-child {
  margin-bottom: 0;
}

.card-wrapper .variants-product-item .variant.active {
  box-shadow: #000 0px 0px 0px 1px;
}

@media (max-width: 991px) {
  .btn-product.js-btn-quickview {
    display: none;
  }
}

.card__labal {
  position: absolute;
  top: 10px;
  right: 10px;
}

.product-new {
  background-color: var(--color-background-new-label);
  color: var(--color-text-new-label);
  margin-bottom: 5px;
  text-align: center;
  font-size: 12px;
  padding: 3px 5px;
  min-width: 60px;
  transform: skewX(-10deg);
}

.product-label-sale {
  background-color: var(--color-background-sale-label);
  color: var(--color-text-sale-label);
  font-size: 10px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 34px;
  border-radius: 50%;
  padding: 1px 4px;
  font-weight: 600;
}

.price .price__regular dd,
.price .price__sale .price__compare {
  margin-right: 0;
}
